/* Flair */
.linkflair-mercury .linkflairlabel { background: #abcdef; color: white; width: 75px; text-align:center;}
.linkflair-objective-cpp .linkflairlabel { background: #4886FC; color: white; width: 75px; text-align:center;} /* special case */
.linkflair-self .linkflairlabel { background: #0579aa; color: white; width: 75px; text-align:center;}
.linkflair-edn .linkflairlabel { background: #db5855; color: white; width: 75px; text-align:center;}
.linkflair-rebol .linkflairlabel { background: #358a5b; color: white; width: 75px; text-align:center;}
.linkflair-xbase .linkflairlabel { background: #3a4040; color: white; width: 75px; text-align:center;}
.linkflair-eiffel .linkflairlabel { background: #946d57; color: white; width: 75px; text-align:center;}
.linkflair-elixir .linkflairlabel { background: #6e4a7e; color: white; width: 75px; text-align:center;}
.linkflair-agda .linkflairlabel { background: #467C91; color: white; width: 75px; text-align:center;}
.linkflair-perl6 .linkflairlabel { background: #0298c3; color: white; width: 75px; text-align:center;}
.linkflair-mirah .linkflairlabel { background: #c7a938; color: white; width: 75px; text-align:center;}
.linkflair-objective-j .linkflairlabel { background: #ff0c5a; color: white; width: 75px; text-align:center;}
.linkflair-gosu .linkflairlabel { background: #82937f; color: white; width: 75px; text-align:center;}
.linkflair-component-pascal .linkflairlabel { background: #b0ce4e; color: white; width: 75px; text-align:center;}
.linkflair-go .linkflairlabel { background: #375eab; color: white; width: 75px; text-align:center;}
.linkflair-visual-basic .linkflairlabel { background: #945db7; color: white; width: 75px; text-align:center;}
.linkflair-php .linkflairlabel { background: #4F5D95; color: white; width: 75px; text-align:center;}
.linkflair-cirru .linkflairlabel { background: #aaaaff; color: white; width: 75px; text-align:center;}
.linkflair-verilog .linkflairlabel { background: #848bf3; color: white; width: 75px; text-align:center;}
.linkflair-red .linkflairlabel { background: #ee0000; color: white; width: 75px; text-align:center;}
.linkflair-volt .linkflairlabel { background: #0098db; color: white; width: 75px; text-align:center;}
.linkflair-lsl .linkflairlabel { background: #3d9970; color: white; width: 75px; text-align:center;}
.linkflair-coffeescript .linkflairlabel { background: #244776; color: white; width: 75px; text-align:center;}
.linkflair-latte .linkflairlabel { background: #A8FF97; color: white; width: 75px; text-align:center;}
.linkflair-swift .linkflairlabel { background: #ffac45; color: white; width: 75px; text-align:center;}
.linkflair-c .linkflairlabel { background: #555; color: white; width: 75px; text-align:center;}
.linkflair-isabelle .linkflairlabel { background: #fdcd00; color: white; width: 75px; text-align:center;}
.linkflair-autoit .linkflairlabel { background: #36699B; color: white; width: 75px; text-align:center;}
.linkflair-rust .linkflairlabel { background: #dea584; color: white; width: 75px; text-align:center;}
.linkflair-sourcepawn .linkflairlabel { background: #f69e1d; color: white; width: 75px; text-align:center;}
.linkflair-shen .linkflairlabel { background: #120F14; color: white; width: 75px; text-align:center;}
.linkflair-tcl .linkflairlabel { background: #e4cc98; color: white; width: 75px; text-align:center;}
.linkflair-vhdl .linkflairlabel { background: #543978; color: white; width: 75px; text-align:center;}
.linkflair-oxygene .linkflairlabel { background: #5a63a3; color: white; width: 75px; text-align:center;}
.linkflair-assembly .linkflairlabel { background: #a67219; color: white; width: 75px; text-align:center;}
.linkflair-csharp .linkflairlabel { background: #178600; color: white; width: 75px; text-align:center;}  /* special case */
.linkflair-turing .linkflairlabel { background: #45f715; color: white; width: 75px; text-align:center;}
.linkflair-processing .linkflairlabel { background: #2779ab; color: white; width: 75px; text-align:center;}
.linkflair-emacs-lisp .linkflairlabel { background: #c065db; color: white; width: 75px; text-align:center;}
.linkflair-ooc .linkflairlabel { background: #b0b77e; color: white; width: 75px; text-align:center;}
.linkflair-mask .linkflairlabel { background: #f97732; color: white; width: 75px; text-align:center;}
.linkflair-emberscript .linkflairlabel { background: #f64e3e; color: white; width: 75px; text-align:center;}
.linkflair-nemerle .linkflairlabel { background: #0d3c6e; color: white; width: 75px; text-align:center;}
.linkflair-krl .linkflairlabel { background: #f5c800; color: white; width: 75px; text-align:center;}
.linkflair-ocaml .linkflairlabel { background: #3be133; color: white; width: 75px; text-align:center;}
.linkflair-antlr .linkflairlabel { background: #9DC3FF; color: white; width: 75px; text-align:center;}
.linkflair-fsharp .linkflairlabel { background: #b845fc; color: white; width: 75px; text-align:center;}  /* special case */
.linkflair-smalltalk .linkflairlabel { background: #596706; color: white; width: 75px; text-align:center;}
.linkflair-pogoscript .linkflairlabel { background: #d80074; color: white; width: 75px; text-align:center;}
.linkflair-livescript .linkflairlabel { background: #499886; color: white; width: 75px; text-align:center;}
.linkflair-javascript .linkflairlabel { background: #f1e05a; color: black; width: 75px; text-align:center;}
.linkflair-slash .linkflairlabel { background: #007eff; color: white; width: 75px; text-align:center;}
.linkflair-erlang .linkflairlabel { background: #0faf8d; color: white; width: 75px; text-align:center;}
.linkflair-objective-c .linkflairlabel { background: #438eff; color: white; width: 75px; text-align:center;}
.linkflair-eagle .linkflairlabel { background: #3994bc; color: white; width: 75px; text-align:center;}
.linkflair-scheme .linkflairlabel { background: #1e4aec; color: white; width: 75px; text-align:center;}
.linkflair-python .linkflairlabel { background: #3581ba; color: white; width: 75px; text-align:center;}
.linkflair-nimrod .linkflairlabel { background: #37775b; color: white; width: 75px; text-align:center;}
.linkflair-chapel .linkflairlabel { background: #8dc63f; color: white; width: 75px; text-align:center;}
.linkflair-dylan .linkflairlabel { background: #3ebc27; color: white; width: 75px; text-align:center;}
.linkflair-alloy .linkflairlabel { background: #cc5c24; color: white; width: 75px; text-align:center;}
.linkflair-pawn .linkflairlabel { background: #dbb284; color: white; width: 75px; text-align:center;}
.linkflair-purescript .linkflairlabel { background: #bcdc53; color: white; width: 75px; text-align:center;}
.linkflair-julia .linkflairlabel { background: #a270ba; color: white; width: 75px; text-align:center;}
.linkflair-haskell .linkflairlabel { background: #29b544; color: white; width: 75px; text-align:center;}
.linkflair-io .linkflairlabel { background: #a9188d; color: white; width: 75px; text-align:center;}
.linkflair-rouge .linkflairlabel { background: #cc0088; color: white; width: 75px; text-align:center;}
.linkflair-dogescript .linkflairlabel { background: #cca760; color: white; width: 75px; text-align:center;}
.linkflair-nesc .linkflairlabel { background: #ffce3b; color: white; width: 75px; text-align:center;}
.linkflair-typescript .linkflairlabel { background: #31859c; color: white; width: 75px; text-align:center;}
.linkflair-dart .linkflairlabel { background: #98BAD6; color: white; width: 75px; text-align:center;}
.linkflair-frege .linkflairlabel { background: #00cafe; color: white; width: 75px; text-align:center;}
.linkflair-aspectj .linkflairlabel { background: #1957b0; color: white; width: 75px; text-align:center;}
.linkflair-shell .linkflairlabel { background: #5861ce; color: white; width: 75px; text-align:center;}
.linkflair-arduino .linkflairlabel { background: #bd79d1; color: white; width: 75px; text-align:center;}
.linkflair-supercollider .linkflairlabel { background: #46390b; color: white; width: 75px; text-align:center;}
.linkflair-mtml .linkflairlabel { background: #0095d9; color: white; width: 75px; text-align:center;}
.linkflair-sas .linkflairlabel { background: #1E90FF; color: white; width: 75px; text-align:center;}
.linkflair-d .linkflairlabel { background: #fcd46d; color: white; width: 75px; text-align:center;}
.linkflair-opal .linkflairlabel { background: #f7ede0; color: white; width: 75px; text-align:center;}
.linkflair-standard-ml .linkflairlabel { background: #dc566d; color: white; width: 75px; text-align:center;}
.linkflair-coldfusion-cfc .linkflairlabel { background: #ed2cd6; color: white; width: 75px; text-align:center;}
.linkflair-pure-data .linkflairlabel { background: #91de79; color: white; width: 75px; text-align:center;}
.linkflair-arc .linkflairlabel { background: #ca2afe; color: white; width: 75px; text-align:center;}
.linkflair-nit .linkflairlabel { background: #0d8921; color: white; width: 75px; text-align:center;}
.linkflair-apl .linkflairlabel { background: #8a0707; color: white; width: 75px; text-align:center;}
.linkflair-sqf .linkflairlabel { background: #FFCB1F; color: white; width: 75px; text-align:center;}
.linkflair-glyph .linkflairlabel { background: #e4cc98; color: white; width: 75px; text-align:center;}
.linkflair-java .linkflairlabel { background: #b07219; color: white; width: 75px; text-align:center;}
.linkflair-scala .linkflairlabel { background: #7dd3b0; color: white; width: 75px; text-align:center;}
.linkflair-perl .linkflairlabel { background: #0298c3; color: white; width: 75px; text-align:center;}
.linkflair-factor .linkflairlabel { background: #636746; color: white; width: 75px; text-align:center;}
.linkflair-haxe .linkflairlabel { background: #f7941e; color: white; width: 75px; text-align:center;}
.linkflair-forth .linkflairlabel { background: #341708; color: white; width: 75px; text-align:center;}
.linkflair-hy .linkflairlabel { background: #7891b1; color: white; width: 75px; text-align:center;}
.linkflair-ruby .linkflairlabel { background: #701516; color: white; width: 75px; text-align:center;}
.linkflair-lfe .linkflairlabel { background: #004200; color: white; width: 75px; text-align:center;}
.linkflair-autohotkey .linkflairlabel { background: #6594b9; color: white; width: 75px; text-align:center;}
.linkflair-boo .linkflairlabel { background: #d4bec1; color: white; width: 75px; text-align:center;}
.linkflair-clojure .linkflairlabel { background: #db5855; color: white; width: 75px; text-align:center;}
.linkflair-css .linkflairlabel { background: #563d7c; color: white; width: 75px; text-align:center;}
.linkflair-prolog .linkflairlabel { background: #74283c; color: white; width: 75px; text-align:center;}
.linkflair-coldfusion .linkflairlabel { background: #ed2cd6; color: white; width: 75px; text-align:center;}
.linkflair-harbour .linkflairlabel { background: #0e60e3; color: white; width: 75px; text-align:center;}
.linkflair-blitzmax .linkflairlabel { background: #cd6400; color: white; width: 75px; text-align:center;}
.linkflair-piglatin .linkflairlabel { background: #fcd7de; color: white; width: 75px; text-align:center;}
.linkflair-lasso .linkflairlabel { background: #2584c3; color: white; width: 75px; text-align:center;}
.linkflair-clean .linkflairlabel { background: #3a81ad; color: white; width: 75px; text-align:center;}
.linkflair-propeller-spin .linkflairlabel { background: #2b446d; color: white; width: 75px; text-align:center;}
.linkflair-idl .linkflairlabel { background: #e3592c; color: white; width: 75px; text-align:center;}
.linkflair-ats .linkflairlabel { background: #1ac620; color: white; width: 75px; text-align:center;}
.linkflair-ada .linkflairlabel { background: #02f88c; color: white; width: 75px; text-align:center;}
.linkflair-nu .linkflairlabel { background: #c9df40; color: white; width: 75px; text-align:center;}
.linkflair-asp .linkflairlabel { background: #6a40fd; color: white; width: 75px; text-align:center;}
.linkflair-flux .linkflairlabel { background: #33CCFF; color: white; width: 75px; text-align:center;}
.linkflair-vala .linkflairlabel { background: #ee7d06; color: white; width: 75px; text-align:center;}
.linkflair-ecl .linkflairlabel { background: #8a1267; color: white; width: 75px; text-align:center;}
.linkflair-netlogo .linkflairlabel { background: #ff2b2b; color: white; width: 75px; text-align:center;}
.linkflair-qml .linkflairlabel { background: #44a51c; color: white; width: 75px; text-align:center;}
.linkflair-fantom .linkflairlabel { background: #dbded5; color: white; width: 75px; text-align:center;}
.linkflair-pike .linkflairlabel { background: #066ab2; color: white; width: 75px; text-align:center;}
.linkflair-r .linkflairlabel { background: #198ce7; color: white; width: 75px; text-align:center;}
.linkflair-unified-parallel-c .linkflairlabel { background: #755223; color: white; width: 75px; text-align:center;}
.linkflair-lua .linkflairlabel { background: #fa1fa1; color: white; width: 75px; text-align:center;}
.linkflair-wisp .linkflairlabel { background: #7582D1; color: white; width: 75px; text-align:center;}
.linkflair-pascal .linkflairlabel { background: #b0ce4e; color: white; width: 75px; text-align:center;}
.linkflair-puppet .linkflairlabel { background: #cc5555; color: white; width: 75px; text-align:center;}
.linkflair-actionscript .linkflairlabel { background: #e3491a; color: white; width: 75px; text-align:center;}
.linkflair-ragel-in-ruby-host .linkflairlabel { background: #ff9c2e; color: white; width: 75px; text-align:center;}
.linkflair-zephir .linkflairlabel { background: #118f9e; color: white; width: 75px; text-align:center;}
.linkflair-dm .linkflairlabel { background: #075ff1; color: white; width: 75px; text-align:center;}
.linkflair-ioke .linkflairlabel { background: #078193; color: white; width: 75px; text-align:center;}
.linkflair-gnuplot .linkflairlabel { background: #f0a9f0; color: white; width: 75px; text-align:center;}
.linkflair-viml .linkflairlabel { background: #199c4b; color: white; width: 75px; text-align:center;}
.linkflair-matlab .linkflairlabel { background: #bb92ac; color: white; width: 75px; text-align:center;}
.linkflair-pan .linkflairlabel { background: #cc0000; color: white; width: 75px; text-align:center;}
.linkflair-lookml .linkflairlabel { background: #652B81; color: white; width: 75px; text-align:center;}
.linkflair-max .linkflairlabel { background: #ce279c; color: white; width: 75px; text-align:center;}
.linkflair-common-lisp .linkflairlabel { background: #3fb68b; color: white; width: 75px; text-align:center;}
.linkflair-xquery .linkflairlabel { background: #2700e2; color: white; width: 75px; text-align:center;}
.linkflair-systemverilog .linkflairlabel { background: #343761; color: white; width: 75px; text-align:center;}
.linkflair-groovy .linkflairlabel { background: #e69f56; color: white; width: 75px; text-align:center;}
.linkflair-e .linkflairlabel { background: #ccce35; color: white; width: 75px; text-align:center;}
.linkflair-parrot .linkflairlabel { background: #f3ca0a; color: white; width: 75px; text-align:center;}
.linkflair-grammatical-framework .linkflairlabel { background: #ff0000; color: white; width: 75px; text-align:center;}
.linkflair-vcl .linkflairlabel { background: #0298c3; color: white; width: 75px; text-align:center;}
.linkflair-cpp .linkflairlabel { background: #f34b7d; color: white; width: 75px; text-align:center;}  /* special case */
.linkflair-fortran .linkflairlabel { background: #4d41b1; color: white; width: 75px; text-align:center;}
.linkflair-ags-script .linkflairlabel { background: #B9D9FF; color: white; width: 75px; text-align:center;}
.linkflair-tex .linkflairlabel { background: #3D6117; color: white; width: 75px; text-align:center;}
.linkflair-unrealscript .linkflairlabel { background: #a54c4d; color: white; width: 75px; text-align:center;}
.linkflair-slim .linkflairlabel { background: #ff8877; color: white; width: 75px; text-align:center;}
.linkflair-fancy .linkflairlabel { background: #7b9db4; color: white; width: 75px; text-align:center;}
.linkflair-omgrofl .linkflairlabel { background: #cabbff; color: white; width: 75px; text-align:center;}
.linkflair-game-maker-language .linkflairlabel { background: #8ad353; color: white; width: 75px; text-align:center;}
.linkflair-racket .linkflairlabel { background: #ae17ff; color: white; width: 75px; text-align:center;}

 /* Needs to be added to sidebar */

.linkflair-other .linkflairlabel { background: #2B2B2A; color: white; width: 75px; text-align:center;}
.linkflair-meta .linkflairlabel { background: #474745; color: white; width: 75px; text-align:center;}

/*#header { background-color: #949699;}*/

/* Mod red color - Not sure how to do it otherwise, could be changed */
.comment .author[href$="Diastro"] { color: #FF0000; font-weight: bold;}
.comment .author[href$="curlymaster"] { color: #FF0000; font-weight: bold;}
.comment .author[href$="Chris911"] { color: #FF0000; font-weight: bold;}
.comment .author[href$="CGP-Bot"] { color: #FF0000; font-weight: bold;}

/*Change the word for 'readers' and the currently online*/
.subscribers .word, .users-online .word{
    display:none;
}
.subscribers .number:after { 
    content: " subscribers"
}
.users-online .number:after { 
    content: " bored devs right now" 
}

/* Flair filtering */
html:lang(se) .link:not(.linkflair-python):not(.linkflair-cpp):not(.linkflair-c):not(.linkflair-ruby):not(.linkflair-d):not(.linkflair-javascript):not(.linkflair-java):not(.linkflair-shell):not(.linkflair-scala):not(.linkflair-objectivec):not(.linkflair-haskell):not(.linkflair-emacslisp):not(.linkflair-perl):not(.linkflair-assembly):not(.linkflair-csharp):not(.linkflair-php):not(.linkflair-go):not(.linkflair-fortran):not(.linkflair-commonlisp):not(.linkflair-erlang) {
    display: none 
}

/* Flair filtering - Removes the search box result */
html:lang(se) .raisedbox {
    visibility: hidden;
    height: 0;
}
html:lang(se) .search-summary {
    visibility: hidden;
    height: 0;
}

.side a[href$='#python']{
    background: #3581ba;
    color: white;
}
.side a[href$='#cpp']{
    background: #f34b7d;
    color: white;
}
.side a[href$='#ruby']{
    background: #701516;
    color: white;
}
.side a[href$='#d']{
    background: #fcd46d;
    color: white;
}
.side a[href$="#c"]{
    background: #555;
    color: white;
}
.side a[href$='#java']{
    background: #b07219;
    color: white;
}
.side a[href$='#javascript']{
    background: #F7E91E;
    color: black;
}
.side a[href$='#shell']{
    background: #5861ce;
    color: white;
}
.side a[href$='#scala']{
    background: #7dd3b0;
    color: white;
}
.side a[href$="#objectivec"]{
    background: #438EFF;
    color: white;
}
.side a[href$='#haskell']{
    background: #BCDC53;
    color: white;
}
.side a[href$='#emacslisp']{
    background: #c065db;
    color: white;
}
.side a[href$='#perl']{
    background: #0298c3;
    color: white;
}
.side a[href$='#assembly']{
    background: #a67219;
    color: white;
}
.side a[href$="#csharp"]{
    background: #178600;
    color: white;
}
.side a[href$='#fortran']{
    background: #4d41b1;
    color: white;
}
.side a[href$='#go']{
    background: #375eab;
    color: white;
}
.side a[href$='#php']{
    background: #4F5D95;
    color: white;
}
.side a[href$='#commonlisp']{
    background: #3fb68b;
    color: white;
}
.side a[href$="#erlang"]{
    background: #949e0e;
    color: white;
}

.side a[href$='#other']{
    background: #2B2B2A;
    color: white;
}
.side a[href$="#meta"]{
    background: #474745;
    color: white;
}

/* Link flair - Base of side links */
.side a[href$='#python'], .side a[href$='#cpp'], .side a[href$='#ruby'], .side a[href$='#d'], .side a[href$="#c"], .side a[href$='#java'], .side a[href$='#javascript'], .side a[href$='#shell'], .side a[href$='#scala'], .side a[href$="#objectivec"], .side a[href$='#haskell'], .side a[href$='#emacslisp'], .side a[href$='#perl'], .side a[href$='#assembly'], .side a[href$="#csharp"], .side a[href$='#fortran'], .side a[href$='#go'], .side a[href$='#php'], .side a[href$='#commonlisp'], .side a[href$="#erlang"], .side a[href$="#other"], .side a[href$="#meta"]{
    display: inline-block;
    position: relative;
    margin: 5px;
    border: 1px solid black;
    font-size: 80%;
    padding: 3px;
    text-align: center;
    width: 125px;
    -moz-opacity: 0.70; /* Mozilla */
    opacity: 0.70; /* CSS3 */
}

.side a[href$='#python']:hover, .side a[href$='#cpp']:hover, .side a[href$='#ruby']:hover, .side a[href$='#d']:hover, .side a[href$="#c"]:hover, .side a[href$='#java']:hover, .side a[href$='#javascript']:hover, .side a[href$='#shell']:hover, .side a[href$='#scala']:hover, .side a[href$="#objectivec"]:hover, .side a[href$='#haskell']:hover, .side a[href$='#emacslisp']:hover, .side a[href$='#perl']:hover, .side a[href$='#assembly']:hover, .side a[href$="#csharp"]:hover, .side a[href$='#fortran']:hover, .side a[href$='#go']:hover, .side a[href$='#php']:hover, .side a[href$='#commonlisp']:hover, .side a[href$="#erlang"]:hover, .side a[href$="#other"]:hover, .side a[href$="#meta"]:hover{
    display: inline-block;
    position: relative;
    margin: 5px;
    border: 1px solid black;
    font-size: 80%;
    padding: 3px;
    text-align: center;
    width: 125px;
    -moz-opacity:0.99; /* Mozilla */
    opacity: 0.99; /* CSS3 */
}

/* Style to the subs org on Github (in the sidebar) */
.side [href$="https://github.com/CoolGithubProjects"]{
    display: inline-block;
    position: relative;
    margin: 5px;
    border: 1px solid black;
    font-size: 110%;
    padding: 3px;
    text-align: center;
    width: 280px;
    background: #FF0000;
    color: white;
}

.side [href$="http://www.coolgithubprojects.com"]{
    display: inline-block;
    position: relative;
    margin: 5px;
    border: 1px solid black;
    font-size: 140%;
    padding: 3px;
    text-align: center;
    width: 280px;
    background: #3db5d8;
    color: white;
}
